@font-face {
    font-family: 'Varela Round';
    src: url("/assets/fonts/Varela_Round/VarelaRound-Regular.ttf");
}

@font-face {
    font-family: 'Roboto Regular';
    src: url("/assets/fonts/Roboto/Roboto-Regular.ttf");
}

body {
    background-color: #ffffff;
}

* {
    font-family: 'Varela Round', 'Roboto Regular';
}

.form-floating-h1 {
    background-color: #ffffff;
    text-align: center;
    width: 30%;
    transform: translateY(-40px);
}

@media(max-width: 720px) {
    .form-floating-h1 {
        background-color: #ffffff;
        text-align: center;
        width: 100%;
        transform: translateY(-40px);
    }    
}

.background-ofuscate {
    background-color: #000000af;
    backdrop-filter: blur(15px);
}